.it-about-style-3 .it-about-thumb-cloud-1 img,
.it-about-style-3 .it-about-thumb-cloud-2 img {
  max-width: 76px;
}

.elementor-widget-container .it-hero-sub-thumb img {
  border: 5px solid #fff;
  border-radius: 1000px;
  width: 270px;
  height: 450px;
}

.elementor-widget-container .it-hero-thumb > img {
  border: 5px solid #fff;
  border-radius: 1000px;
  height: 600px;
}

/* tour CSs */

h3.it-discover-passenger-categories span {
  display: block;
  margin-top: 10px;
}
